In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("national-history.csv")
data.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease
0,12/8/2020,277367.0,2622,32406.0,20483.0,4193,104600.0,593679.0,164563564,1184838,3359.0,7245.0,14930563,213498,5786915.0,56,207572528,1638354
1,12/7/2020,274745.0,1347,32120.0,20098.0,3614,102148.0,589486.0,163378726,1386381,3328.0,7073.0,14717065,180193,5714557.0,56,205934174,1835388
2,12/6/2020,273398.0,1146,31946.0,20145.0,2311,101501.0,585872.0,161992345,1175503,3322.0,7095.0,14536872,177801,5624609.0,56,204098786,1648306
3,12/5/2020,272252.0,2461,31831.0,19947.0,3457,101192.0,583561.0,160816842,1530133,3321.0,7006.0,14359071,212880,5576152.0,56,202450480,2190899
4,12/4/2020,269791.0,2563,31608.0,19858.0,4652,101276.0,580104.0,159286709,1260657,3305.0,6999.0,14146191,224831,5470389.0,56,200259581,1854869

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      322 non-null    object
 1   death                     303 non-null    float64
 2   deathIncrease             322 non-null    int64
 3   inIcuCumulative           259 non-null    float64
 4   inIcuCurrently            258 non-null    float64
 5   hospitalizedIncrease      322 non-null    int64
 6   hospitalizedCurrently     267 non-null    float64
 7   hospitalizedCumulative    280 non-null    float64
 8   negative                  322 non-null    int64
 9   negativeIncrease          322 non-null    int64
 10  onVentilatorCumulative    252 non-null    float64
 11  onVentilatorCurrently     259 non-null    float64
 12  positive                  322 non-null    int64
 13  positiveIncrease          322 non-null    int64
 14  recovered                 259 non-null    float64
 15  states                    322 non-null    int64
 16  totalTestResults          322 non-null    int64
 17  totalTestResultsIncrease  322 non-null    int64
dtypes: float64(8), int64(9), object(1)
memory usage: 45.4+ KB

In [4]:
data.describe()

,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,recovered,states,totalTestResults,totalTestResultsIncrease
count,303.000000,322.000000,259.000000,258.000000,322.000000,267.000000,280.000000,3.220000e+02,3.220000e+02,252.000000,259.000000,3.220000e+02,322.000000,2.590000e+02,322.000000,3.220000e+02,3.220000e+02
mean,123758.217822,861.388199,14512.868726,9286.631783,1843.723602,44963.269663,279057.696429,4.779762e+07,5.110670e+05,1567.841270,3177.065637,4.030837e+06,46368.208075,1.812710e+06,48.897516,5.744682e+07,6.446352e+05
std,83219.855752,660.614277,8638.572197,3914.954376,1849.015549,19658.266591,162485.213552,4.934487e+07,3.926017e+05,971.192781,1698.274457,3.919792e+06,46696.856577,1.551708e+06,17.474112,6.068108e+07,5.273984e+05
min,0.000000,0.000000,74.000000,1299.000000,-2849.000000,325.000000,4.000000,0.000000e+00,0.000000e+00,32.000000,167.000000,0.000000e+00,0.000000,9.700000e+01,2.000000,1.000000e+00,0.000000e+00
25%,50786.000000,352.750000,8172.000000,6271.250000,821.250000,32262.500000,159418.250000,2.232842e+06,1.192120e+05,715.250000,2047.000000,5.391742e+05,20367.250000,4.809925e+05,56.000000,2.841184e+06,1.522172e+05
50%,126286.000000,862.000000,14227.000000,8348.500000,1576.000000,41883.000000,278747.000000,3.012656e+07,5.591605e+05,1508.500000,2549.000000,2.649490e+06,34608.000000,1.460930e+06,56.000000,3.417622e+07,6.481890e+05
75%,194449.500000,1212.250000,20770.500000,11214.500000,2448.500000,55612.000000,400265.500000,8.428367e+07,7.608335e+05,2393.500000,4660.500000,6.693923e+06,56902.500000,2.921340e+06,56.000000,9.983635e+07,9.694380e+05
max,277367.000000,2752.000000,32406.000000,20483.000000,17287.000000,104600.000000,593679.000000,1.645636e+08,1.941714e+06,3359.000000,7245.000000,1.493056e+07,224831.000000,5.786915e+06,56.000000,2.075725e+08,2.340996e+06

In [5]:
data.columns

Index(['date', 'death', 'deathIncrease', 'inIcuCumulative', 'inIcuCurrently',
       'hospitalizedIncrease', 'hospitalizedCurrently',
       'hospitalizedCumulative', 'negative', 'negativeIncrease',
       'onVentilatorCumulative', 'onVentilatorCurrently', 'positive',
       'positiveIncrease', 'recovered', 'states', 'totalTestResults',
       'totalTestResultsIncrease'],
      dtype='object')

In [6]:
num_data = data.drop(["date"], axis=1)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# transform data
scaled_data = scaler.fit_transform(num_data)

In [8]:
%matplotlib inline

In [ ]:
num_data .hist(bins = 50, figsize = (20, 15));

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_set, test_set = train_test_split(data, test_size = 0.3, random_state = 42)

In [ ]:
train_set.shape

In [ ]:
test_set.shape

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:
attributes =["deathIncrease","hospitalizedIncrease", "onVentilatorCumulative", "recovered"]
scatter_matrix(num_data[attributes], figsize=(20, 15));

In [ ]:
num_data.plot(kind = "scatter", x="hospitalizedIncrease", y="deathIncrease", alpha=0.1, figsize=(12, 8))

In [ ]:
data.isnull().sum()

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(strategy="median")

In [ ]:
X = imputer.fit_transform(num_data)

In [ ]:
imputer.statistics_

In [ ]:
data_tr = pd.DataFrame(X, columns=num_data.columns, index=num_data.index)

In [ ]:
data_tr.head()

In [ ]:
# X_train, y_train, X_test, y_test = train_test_split(data_tr, test_size=0.3)